<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>COURSE</title>
    <style type="text/css">
    .footer{background: #4682B4;}
      </style>
    <link rel="stylesheet" href="../css/style1.css">
  </head>
  <body >
<nav>
	<ul>
	<li><a href="index.html" class="mylink" >COURSE</a></li>
	<li><a href="allcurses.html" style="font-weight: 600;">Все курсы</a>
		<!-- первый уровень выпадающего списка -->
		<ul>
			<li><a href="progcurs.html">Программирование</a></li>
			<li><a href="./discurs.html">Дизайн</a></li>
			<li><a href="lincurs.html">Лингвистика</a></li>
		</ul>
	</li>
	<li><a href="../../../Downloads/Lab1/webinar.html">Вебинары</a>
        <ul>
			<li><a href="progweb.html">Программирование</a></li>
			<li><a href="disweb.html">Дизайн</a></li>
			<li><a href="linweb.html">Лингвистика</a></li>
		</ul>
    </li>
	<li><a href="contacts.html">Контакты</a></li>
	<li style="text-align: right"><a href="#">Войти</a></li>
	</ul>
</nav>
<div class="main">
  <table align = left>
<tr>
<td><a href="allcurses.html">Все</a></td>
<td><a href="progcurs.html">Программирование</a></td>
<td><a href="lincurs.html">Лингвистика</a></td>
<td><strong>Дизайн</strong></td>
</tr>
</table>
<table width = 100%>
    <tr>
<td >
    <div class="curses"style="background:#1D1B7C;">
        <h1 style="vertical-align:middle; padding: 100px;"> Adobe Illustrator</h1>
    <h4 class="particular-item">8 занятий</h4>
    </div>
      </div>
<div class="footer">
    <h6 align = right><em>©Артамоновой Анастасии ПИН-34</em></h6>
</div>
  </body>
</html>
