<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>COURSE</title>
    <style type="text/css">
    .footer{background: #4682B4;}
      </style>
      <link rel="stylesheet" href="../css/style1.css">
  </head>
  <body>
   <nav>
	<ul>
	<li><a href="index.html" class="mylink" >COURSE</a></li>
	<li><a href="allcurses.html">Все курсы</a>
		<!-- первый уровень выпадающего списка -->
		<ul>
			<li><a href="progcurs.html">Программирование</a></li>
			<li><a href="discurs.html">Дизайн</a></li>
			<li><a href="lincurs.html">Лингвистика</a></li>
		</ul>
	</li>
	<li><a href="webinar.html" style="font-weight: 600;">Вебинары</a>
        <ul>
			<li><a href="progweb.html">Программирование</a></li>
			<li><a href="./disweb.html">Дизайн</a></li>
			<li><a href="linweb.html">Лингвистика</a></li>
		</ul>
    </li>
	<li><a href="contacts.html">Контакты</a></li>
	<li style="text-align: right"><a href="#">Войти</a></li>
	</ul>
</nav>
<div class="main">
  <table align = left>
<tr>
<td><a href="webinar.html">Все</a></td>
<td><a href="progweb.html">Программирование</a></td>
<td><a href="linweb.html">Лингвистика</a></td>
<td><strong>Дизайн</strong></td>
</tr>
</table>
<table width = 100%>
    <tr>

 <td>
    <img src="https://live-prod.hb.bizmrg.com/269580/conversions/48012f4309e793a8b4de05e086d651c4-api-jpg.jpg?v=1643845806" width=100% alt = "Пробуем себя в разных видах дизайна"/>
    <h3>Пробуем себя в разных видах дизайна</h3>
</td>

</tr>
</table>
</div>
<div class="footer">
    <h6 align = right><em>©Артамоновой Анастасии ПИН-34</em></h6>
</div>
    <script src="../js/script.js"></script>
  </body>
</html>
