<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>COURSE</title>
    <style type="text/css">
        .footer {
            background: #4682B4;
        }
    </style>
    <link rel="stylesheet" href="../static/css/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <ul>
        <li><a href="index" class="mylink">COURSE</a></li>
        <li><a href="allcurses">Все курсы</a>
            <!-- первый уровень выпадающего списка -->
            <ul>
                <li><a href="progcurs">Программирование</a></li>
                <li><a href="discurs">Дизайн</a></li>
                <li><a href="lincurs">Лингвистика</a></li>
            </ul>
        </li>
        <li><a href="webinar">Вебинары</a>
            <ul>
                <li><a href="progweb">Программирование</a></li>
                <li><a href="disweb">Дизайн</a></li>
                <li><a href="linweb">Лингвистика</a></li>
            </ul>
        </li>
        <li><a href="contacts.html">Контакты</a></li>
        <li style="text-align: right"><a href="autorization">Войти</a></li>
    </ul>
</nav>
<div class="main">
    <h1>Выберите направление</h1>
    <ul>
        <li><a href="progcurs">Программирование</a></li>
        <li><a href="lincurs">Лингвистика</a></li>
        <li><a href="discurs">Дизайн</a></li>
    </ul>
    <img align=center src="../img/draw1.jpg" width=100%/>
</div>

<div class="footer">
    <h6 align=right><em>©Артамоновой Анастасии ПИН-34</em></h6>
</div>
</body>
</html>
